:root {
    --primary: #0870a5;
    --primary-transp: #0870a546;
    --secondary: #6FB6D2;
    --success: #5FBE00;
    --info: #015079;
    --warning: #EE9E90;
    --danger: #E75854;
    --dark: #242223;
    --light: #e9cabe;
    --offwhite: #dee2e6;
    --white: #f6f8f9;
    --black: #000;
}
body {
    width: 100%;
    margin: 0;
    background: var(--light);
    color: var(--dark);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: .8px;
}
i.fas {
    margin-right: 10px;
    font-size: 1.2em;
}
.navbar {
    background: linear-gradient(to right, var(--info), var(--primary));
    height: 3rem;
    box-shadow: 0 3px 3px var(--primary-transp);
}
.brand {
    display: inline-block;
    padding-left: 1rem;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}
.cart {
    color: var(--white);
    font-weight: lighter;
    float: right;
    margin: 0;
    padding: 1rem;
    text-transform: uppercase;
    transition: .7s;
}
.cart:hover {
    transform: translateY(-.5rem);
}
.product {
    display: flex;
    margin: 2rem;
}
.product-image {
    margin: 1rem 3rem 1rem 1rem;
    padding: 0;
    /* float: left; */
}
img {
    border: solid 2px var(--primary-transp);
    width: 30vw;
    box-shadow: 3px 3px 3px var(--primary-transp);
}
h1 {
    color: var(--primary);
}
h4 {
    font-size: inherit;
    font-weight: lighter;
    color: var(--info); 
}
.color-box {
    width: 5rem; 
    height: 5rem; 
    margin: 5px 15px 5px 0;
    background: url('assets/icons/icecream-2-icon.png') center center no-repeat;
     -webkit-background-size: cover;
        -moz-background-size: cover;
          -o-background-size: cover;
             background-size: cover;
    display: inline-flex; 
    transition: .7s all;
}
button {
    margin: 1rem 0;
    padding: 0 15px;
    /* width: 9rem; */
    height: 3rem;
    font-size: 1rem;
    font-weight: lighter;
    letter-spacing: 1px;
    color: var(--white);
    background: var(--primary);
    border: solid 2px var(--primary-transp);
    box-shadow: 3px 3px 3px var(--primary-transp);
    transition: .7s;
}
button:disabled {
    opacity: .5;
    box-shadow: none;
}
.color-box:hover, button:hover {
    cursor: pointer;
    transform: translateY(-.5rem);
}
button#btnDelete {
    background: none;
    color: var(--primary);
    border: solid 1px var(--primary-transp);
    box-shadow: none;
    font-size: .8rem;
    margin-left: 1rem;
}